@charset "UTF-8";
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    background-color: #fff;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h2 {
    font-family: Montserrat;
    line-height: 48px;
    letter-spacing: 0;
    font-weight: 300;
    font-style: normal;
    font-size: 36px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}

h4 {
    color: #000;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 2;
}

h5 {
    color: #626262;
    font-size: 14px;
    font-weight: 500;
}

a {
    letter-spacing: 2px;
    text-decoration: none;
}

button:focus {
    outline: none;
}

ul {
    letter-spacing: 1px;
}

li {
    color: #626262;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 30px;
    text-transform: capitalize;
}

span {
    letter-spacing: 1px;
}

.container-full {
    padding-left: 0;
    padding-right: 0;
}

.btn {
    border: 1px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    padding: 15px 40px;
    text-transform: uppercase;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

.mb35{
    margin-bottom: 35px;
}

.mailto{
    color: #294e5b;;
    font-weight: 400;
    text-decoration: none;
    line-height: 28px;
    letter-spacing: 0.2px;
}
.mailto:hover{
    color: #5da6c0;
    text-decoration: none;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    padding: 5px 0 4px 0;
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    /*height: 48px;*/
    z-index: 3;
    transition: all 0.5s ease;
}

#header #logo h1 {
    color: #505050;
    font-family: "Philosopher", sans-serif;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0;
}

#header #logo h1 a {
    color: #555;
    line-height: 1;
    display: inline-block;
    text-decoration: none;
}

#header #logo h1 a span {
    color: #71c55d;
}

#header #logo img {
    width: 175px;
    height: 60px;
}

.scroll-header {
    background: #fff;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu ul {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    z-index: 99;
}

.nav-menu li {
    position: relative;
    white-space: nowrap;
}

.nav-menu > li {
    float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
    display: block;
}

.nav-menu ul ul {
    top: 0;
    left: 100%;
}

.nav-menu ul li {
    min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
    padding-right: 22px;
}

.sf-arrows .sf-with-ul:after {
    content: "\f107";
    position: absolute;
    right: 8px;
    margin-top: 1px;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
    content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
    float: right;
    margin: 0 0 0 0;
}

@media (max-width: 1024px) {
    #nav-menu-container {
        display: none;
    }
}

/* Nav Meu Styling */
.nav-menu a {
    padding: 22px 0;
    font-weight: 900 !important;
    color: #292929;
    font-family: Montserrat;
    text-transform: uppercase;
    line-height: 60px;
    letter-spacing: 1px;
    font-style: normal;
    font-size: 12px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-menu li:hover > a, .nav-menu > .menu-active > a {
    color: #5da6c0;
    text-decoration: none;
}

.nav-menu > li {
    margin-left: 10px;
}

.nav-menu ul {
    margin: 0;
    padding: 10px;
    box-shadow: 0 0 30px rgba(127, 137, 161, 0.25);
    background: #fff;
}

.nav-menu ul li {
    transition: 0.3s;
}

.nav-menu ul li a {
    padding: 5px 10px;
    color: #333;
    transition: 0.3s;
    display: block;
    font-size: 14px;
    text-transform: none;
}

.nav-menu ul li:hover > a {
    color: #71c55d;
}

.nav-menu ul ul {
    margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 4px 20px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
}

#mobile-nav-toggle i {
    color: #555;
    font-size: 24px;
}

@media (max-width: 1024px) {
    #mobile-nav-toggle {
        display: inline;
    }
}

/* Mobile Nav Styling */
#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 18px;
    bottom: 0;
    z-index: 998;
    background: rgba(52, 59, 64, 0.9);
    left: -260px;
    width: 260px;
    overflow-y: auto;
    transition: 0.4s;
}

#mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#mobile-nav ul li {
    position: relative;
}

#mobile-nav ul li a {
    color: #fff;
    font-size: 14px;
    overflow: hidden;
    padding: 6px 22px 6px 15px;
    position: relative;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
    letter-spacing: 0;
}

#mobile-nav ul li a:hover {
    color: #fff;
}

#mobile-nav ul li li {
    padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
    position: absolute;
    right: 0;
    z-index: 99;
    padding: 15px;
    cursor: pointer;
    color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
    color: #71c55d;
}

#mobile-nav ul .menu-item-active {
    color: #71c55d;
}

#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(52, 59, 64, 0.9);
    display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
    overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
    left: 0;
}

body.mobile-nav-active #mobile-nav-toggle i {
    color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.intro {
    width: 100%;
    background-size: 100%;
    position: relative;
    margin-top: 70px;
    padding: 50px 0 82px 0;
}

.intro-flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.intro .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.intro h1 {
    margin-bottom: 35px;
    color: #294e5b;
    font-weight: 900;
    font-style: normal;
    font-family: Roboto;
    line-height: 72px;
    letter-spacing: -1px;
    font-size: 60px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}

.intro h3 {
    margin-bottom: 35px;
    text-align: center;
    color: #294e5b;
    font-family: Montserrat;
    line-height: 36px;
    letter-spacing: 0;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}

.how-it-works-text p {
    margin-bottom: 20px;
    text-align: left;
    font-family: Muli;
    line-height: 28px;
    letter-spacing: 0.2px;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

.how-it-works-text p:last-child {
    margin-bottom: 0;
}

/*--------------------------------------------------------------
# How It Works
--------------------------------------------------------------*/
.how-it-works {
    padding: 50px 0 40px 0;
    background-color: #f8f8f8;
}

.how-it-works h2 {
    margin-bottom: 15px;
    text-align: left;
    color: #294e5b;
    font-family: Montserrat;
    line-height: 48px;
    letter-spacing: 0;
    font-weight: 300;
    font-style: normal;
    font-size: 36px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}

.how-it-works-video-wrapper {
    width: 100%;
    position: relative;
}

.how-it-works-video {
    padding-top: 56.25%;
    position: relative;
    width: 100%;
}

.how-it-works-video iframe {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*--------------------------------------------------------------
# Latest features available on AidSpace Volunteers
--------------------------------------------------------------*/
.latest-features {
    padding: 100px 0 0 0;
}

.latest-features h2{
    text-align: center;
    color: #294e5b;
}

.wrapper-latest-features-content{
    padding: 85px 0 0 0;
    display: flex;
}

.tab {
    float: left;
    width: 30%;
    min-height: 300px;
}

.tab-item{
    width: 100%;
    margin-bottom: 3px;
    padding: 14px 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-radius: 5px;
    color: #666;
    cursor: default;
    text-decoration: none;
    outline: none;
    background-color: #FFF;
    border: 1px solid #f7f7f7;
}
.tab-item .fa{
    font-size: 1.15em;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    padding-top: 4px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
    border-color: #f0f0f0;
    background-color: #f8f8f8;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0 20px;
    width: 70%;
    border-left: none;
}
.tabcontent-content{
    width: 100%;
    margin-bottom: 35px;
}
.tabcontent-content img{
    height: auto;
    max-width: 100%;
    vertical-align: top;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}


/*--------------------------------------------------------------
# Unique Advantages
--------------------------------------------------------------*/
.unique-advantages {
    padding: 120px 0 30px 0;
    border-bottom-width: 1px;
    background-color: #ffffff;
    border-bottom-color: #e9ecef;
    border-bottom-style: solid;
}

.unique-advantages h2 {
    margin-bottom: 35px;
    color: #294e5b;
    font-family: Montserrat;
    line-height: 48px;
    letter-spacing: 0;
    font-weight: 300;
    font-style: normal;
    font-size: 36px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}

.unique-advantages-item {
    padding: 30px 30px 10px 30px;
    display: flex;
}

.unique-advantages-item-image {
    width: 52px;
    text-align: center;
    padding: 0 10px;
}

.unique-advantages-item-image i {
    color: #5da6c0;
    font-size: 32px;
    line-height: 32px;
}

.unique-advantages-item-content {
    padding-right: 15px;
}

.unique-advantages-item-content h4 {
    color: #294e5b;
    font-family: Montserrat;
    text-transform: capitalize;
    line-height: 30px;
    letter-spacing: 0.2px;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}

.unique-advantages-item-content p {
    color: #294e5b;
    line-height: 28px;
    letter-spacing: 0.2px;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

/*--------------------------------------------------------------
# Development Goals
--------------------------------------------------------------*/
.development-goals {
    padding: 170px 0 0 0;
}

.development-goals h2 {
    margin-bottom: 52px;
    text-align: center;
    font-family: Montserrat;
    line-height: 48px;
    letter-spacing: 0;
    font-weight: 300;
    font-style: normal;
    font-size: 36px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}

.development-goals-icon {
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
}

.goals-icon {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    max-width: 100%;
}

.box_shadow {
    position: relative;
    z-index: 0;
    display: inline-block;
    max-width: 100%;
}

.box_shadow:before {
    content: "";
    position: absolute;
    -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, .6);
    box-shadow: 0 15px 10px rgba(0, 0, 0, .6);
    left: 5px;
    right: 50%;
    bottom: 8px;
    height: 30%;
    z-index: -1;
    border-radius: inherit;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: skewY(-6deg);
    -ms-transform: skewY(-6deg);
    transform: skewY(-6deg);
}

.box_shadow:after {
    left: 50%;
    right: 5px;
    -webkit-transform-origin: 100% 0;
    -moz-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    content: "";
    position: absolute;
    -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, .6);
    box-shadow: 0 15px 10px rgba(0, 0, 0, .6);
    bottom: 8px;
    height: 30%;
    z-index: -1;
    border-radius: inherit;
    -webkit-transform: skewY(6deg);
    -ms-transform: skewY(6deg);
    transform: skewY(6deg);
}

.development-goals-content-block {
    margin-bottom: 35px;
}

.development-goals-content-block h4 {
    min-height: 90px;
    margin-bottom: 35px;
    text-align: left;
    font-family: Montserrat;
    text-transform: capitalize;
    line-height: 30px;
    letter-spacing: 0.2px;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}

.development-goals-description {
    padding: 30px 0 0 0;
}

.development-goals-description p {
    text-align: left;
    color: #294e5b;
}

.development-goals-description p:first-child {
    margin-bottom: 20px;
}

/*--------------------------------------------------------------
# Get Touch
--------------------------------------------------------------*/
.get_touch {
    padding: 72px 0 50px 0;
    background-color: #f8f8f8;
}

.get_touch h2 {
    text-align: center;
    font-family: Montserrat;
    line-height: 48px;
    letter-spacing: 0;
    font-weight: 300;
    font-style: normal;
    font-size: 36px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}

.get-touch-wrapper-form {
    margin-top: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.get-touch-form {
    width: 360px;
}

.yikes-easy-mc-form label {
    display: inline-block;
    margin-bottom: .5em;
    width: 100%;
}

.yikes-easy-mc-form input[type=email] {
    box-sizing: border-box;
    display: block;
    width: 100%;
    max-width: 100%;
    padding: .5278em;
    background-color: #f1f1f1;
    border: 2px solid rgba(51, 51, 51, .1);
    -moz-box-sizing: border-box;
    margin-bottom: 8px;
}

.yikes-easy-mc-form .yikes-easy-mc-submit-button {
    font-family: Muli;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 2px !important;
    padding: 22px 80px 23px 80px !important;
    display: block;
    width: 100%;
    margin-top: .5em;
    min-height: 40px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #5ea6c1;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, .1));
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, .1));
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, .1));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
    background-repeat: repeat-x;
    background-size: 200%;
    background-position: 0 -100%;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #ffffff;
    border: 1px solid transparent;
    box-sizing: border-box;
    word-wrap: break-word;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    top: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    line-height: normal;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/*--------------------------------------------------------------
# Sign Up
--------------------------------------------------------------*/
.sign_up {
    padding: 100px 0 60px 0;
}

.sign-up-heading {
    padding-top: 50px;
    margin-bottom: 35px;
}

.sign-up-heading .fa{
    color: #5da6c0;
    font-size: 55px;
    margin-right: 10px;
}

.sign-up-heading h3 {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    color: #294e5b;
    font-family: Montserrat;
    line-height: 36px;
    letter-spacing: 0;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}

.wrapper-sign-up-button {
    display: flex;
    align-items: center;
    justify-content: center;


    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    margin-bottom: 21.74px;
    max-width: 100%;
    box-sizing: border-box;
    visibility: visible;
}

.intro-flex::after{
    content: " ";
    display: table;
    clear: both;
}

.wrapper-sign-up-button:hover {
    color: #ffffff;
    background-position: 0 100%;
    text-decoration: none;
}

.sign-up-button {
    font-family: Muli !important;
    font-weight: 900 !important;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 22px 80px 23px 80px;
    background-color: #65d656;
    color: #ffffff;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, .1));
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, .1));
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .1) 50%, rgba(0, 0, 0, .1));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
    background-repeat: repeat-x;
    background-size: 200%;
    background-position: 0 -100%;


    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    box-sizing: border-box;
    word-wrap: break-word;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    top: 0;
    /*transition: all .2s ease-in-out;*/
    line-height: normal;

    box-shadow: 0 3px 5px rgba(0,0,0,0.13)!important;
    -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.13)!important;
    -moz-box-shadow: 0 3px 5px rgba(0,0,0,0.13)!important;
    -o-box-shadow: 0 3px 5px rgba(0,0,0,0.13)!important;
    -webkit-transition: transform .2s linear,-webkit-box-shadow .2s linear!important;
    -moz-transition: transform .2s linear,-moz-box-shadow .2s linear!important;
    transition: transform .2s linear,box-shadow .2s linear!important;
}

.sign-up-button:hover {
    color: #ffffff;
    text-decoration: none;

    background-position: 0 100%;
    border: 1px solid transparent;

    transform: translateY(-3px)!important;
    -webkit-transform: translateY(-3px)!important;
    box-shadow: 0px 9px 17px -3px rgba(0,0,0,0.13)!important;
    -webkit-box-shadow: 0px 9px 17px -3px rgba(0,0,0,0.13)!important;
    -moz-box-shadow: 0px 9px 17px -3px rgba(0,0,0,0.13)!important;
    -o-box-shadow: 0px 9px 17px -3px rgba(0,0,0,0.13)!important;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

footer {
    padding: 100px 80px 0 80px;
}

footer a:hover{
    text-decoration: none;
}

.footer-top {
    border-top-width: 1px;
    padding-top: 35px;
    padding-bottom: 35px;
    border-top-color: rgba(0, 0, 0, 0.05);
    border-top-style: solid;
}

.footer-top h4 {
    color: #a0acb9;
    margin-bottom: 35px;
    font-family: Montserrat;
    text-transform: capitalize;
    line-height: 30px;
    letter-spacing: 0.2px;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}

.footer-top-item {
    margin-bottom: 35px;
    padding: 35px 15px 0;
}

.footer-top-item p {
    color: #47535e;
    margin-bottom: 0;
}

.footer-top-item a {
    color: #47535e;
    font-family: Muli;
    line-height: 28px;
    letter-spacing: 0.2px;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
}

.footer-top-item a:hover{
    color: #5da6c0;
}

.footer-bottom {
    margin-top: -25px;
    border-top-width: 1px;
    border-top-color: rgba(0, 0, 0, 0.05);
    border-top-style: solid;
}

.footer-bottom-flex {

}

.footer-bottom-item {
    padding-top: 35px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 35px;
}

.footer-bottom-item a {
    color: #a0acb9;
    text-transform: none;
    line-height: 18px;
    letter-spacing: 0.2px;
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}

/*--------------------------------------------------------------
# Roadmap page
--------------------------------------------------------------*/
.roadmap{
    margin-top: 100px;
    width: 100%;
    background-size: 100%;
    position: relative;
    padding: 50px 0 82px 0;
    border-bottom-width: 1px;
    padding-top: 80px;
    padding-bottom: 10px;
    background-color: #ffffff;
    border-bottom-color: #e9ecef;
    border-bottom-style: solid;
}

.roadmap h1 {
    margin-bottom: 35px;
    color: #294e5b;
    font-weight: 900;
    font-style: normal;
    font-family: Roboto;
    line-height: 72px;
    letter-spacing: -1px;
    font-size: 60px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}

.roadmap h3 {
    margin-bottom: 35px;
    text-align: center;
    color: #294e5b;
    font-family: Montserrat;
    line-height: 36px;
    letter-spacing: 0;
    font-weight: 300;
    font-style: normal;
    font-size: 24px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}

.roadmap-features{
    padding: 50px  0 100px 0;
}

.roadmap-features-item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 35px;
    min-height: 60px;
}

.roadmap-features-item-icon{
    width: 100px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.roadmap-features-item-icon .fa{
    color: #5da6c0;
    font-size: 2.15em!important;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}

.roadmap-features-item-description{
    width: calc(100% - 100px);
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.roadmap-features-item-description p{
    margin: 0;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #294e5b;
}

.share-your-ideas-mail a{
    color: #47535e;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.2px;
}

.share-your-ideas{
    padding: 100px 0 75px 0;
    background-color: #f8f8f8;
}

.share-your-ideas-text, .share-your-ideas-form{
    padding-right: 15%;
}

.share-your-ideas .get-touch-wrapper-form{
    margin-top: 0;
}

.share-your-ideas .get-touch-form{
    width: 100%;
}


/*--------------------------------------------------------------
# FAQ page
--------------------------------------------------------------*/
.faq-features{
    padding: 50px 0;
}

.faq-features-item-heading{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 35px;
    padding: 30px 0 20px 0;
}

.faq-features-item-heading-icon{
    width: 50px;
    height: 50px;
}

.faq-features-item-heading-icon .fa{
    color: #5da6c0;
    font-size: 50px!important;
    line-height: 50px!important;
}

.faq-features-item-heading-text{
    margin-left: 40px;
    height: 50px;
}

.faq-features-item-heading-text .strong{
    margin: 0;
    height: inherit;
    color: #294e5b;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0;
    font-size: 24px;
    display: flex;
    align-items: center;
}

p.accordion {
    /*background-color: #eee;*/
    font-weight: 400 !important;
    color: #294e5b;
    font-family: Montserrat;
    text-transform: capitalize;
    line-height: 30px;
    letter-spacing: 0.2px;
    font-style: normal;
    font-size: 18px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
    cursor: pointer;
}

p.accordion.active, p.accordion:hover {

}

p.accordion:before {
    content: '\2795';
    font-size: 15px;
    color: #777;
    float: left;
    margin-right: 10px;
}

p.accordion.active:before {
    content: "\2796";
}

.panel {
    padding-left: 24px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    opacity: 0;
    /*display: none;*/
    margin-bottom:10px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #294e5b;
}

.answer-symbol{
    color: #5ea6c1;
}

.panel.show {
    /*display: block;*/
    opacity: 1;
    min-height: 30px;
    max-height: 10000px;
}

/*--------------------------------------------------------------
# How-it-works page
--------------------------------------------------------------*/
.roadmap.how-it-works-page{
    margin-top: 140px;
    border-bottom: none;
}

.how-it-works-page h3{
    text-align: center;
}
.how-it-works-page span{
    text-decoration: underline;
    font-weight: 600;
}

#how-it-works-features{
    padding: 50px 0 0 0;
}

#how-it-works-features .wrapper-latest-features-content{
    padding: unset;
}

#how-it-works-features .tab{
    width: 20%;
}
#how-it-works-features .tabcontent{
    width: 80%;
    padding: 0 40px;
}

.wrapper-latest-features-content-2{
    padding: 100px 0 0 0;
}

.wrapper-latest-features-content-2 h3{
    text-align: center;
    color: #294e5b;
    font-family: Montserrat;
    line-height: 36px;
    letter-spacing: 0;
    font-style: normal;
    font-size: 24px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
    font-weight: 600 !important;
}

#how-it-works-features .wrapper-latest-features-content-2 .wrapper-latest-features-content{
    margin-top: 85px;
    padding-bottom: 200px;
}

.tabcontent2 {
    float: left;
    padding: 0 20px;
    width: 70%;
    border-left: none;
}
.tabcontent-content2{
    width: 100%;
    margin-bottom: 35px;
}
.tabcontent-content2 img{
    height: auto;
    max-width: 100%;
    vertical-align: top;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#how-it-works-features .tabcontent2{
    width: 80%;
    padding: 0 40px;
}

#how-it-works-features .tabcontent2{
    width: 80%;
    padding: 0 40px;
}

/*--------------------------------------------------------------
# Contacts Page
--------------------------------------------------------------*/
.contacts-page{
    margin-top: 70px;
    background-color: #f8f8f8;
    padding: 70px 0 30px 0;
}

.contacts-page h2{
    text-align: center;
    margin-bottom: 50px;
}

.contacts-page-wrapper-form{
    padding: 50px 0 0 0;
}

.contacts-page-wrapper-form .form-group{
    margin-bottom: 0;
}

.contacts-page-wrapper-form label{
    font-family: Montserrat;
    text-align: left;
    text-transform: none;
    line-height: 18px;
    font-weight: 400;
    font-style: normal;
    color: #4b555f;
    font-size: 12px;
    opacity: 1;
    visibility: visible;
}

.contacts-page-wrapper-form input,
.contacts-page-wrapper-form textarea
{
    width: 100%;
    border-radius: 0;
    border-top: 2px solid #e9ecef;
    border-bottom: 2px solid #e9ecef;
    border-left: 2px solid #e9ecef;
    border-right: 2px solid #e9ecef;
    margin: 0 0 10px 0;
    padding: 15px 20px 15px 20px;
    background: #ffffff;
    font-family: Montserrat;
    line-height: 18px;
    font-weight: 500;
    font-style: normal;
    color: #4b555f;
    font-size: 13px;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}

.contacts-page-wrapper-form input[type=submit]{
    color: #ffffff;
    width: 100%;
    border: none;
    text-align: center;
    clear: both;
    background-color: #5ea6c1;
    border-radius: 0;
    height: 48px;
    font-size: 14px;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: 500;
    transition: transform .2s linear,box-shadow .2s linear;
}


/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
@media (max-width: 1200px) {
    .nav-menu > li{
        margin-left: 0;
    }
}
